.PoloniexBookView {
    .Book {
        position: relative;
        padding: 0 10px;
        overflow: scroll;
        height: 88vh;
    }
}

.Legend {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    font-family: monospace, sans-serif;
    border-bottom: 1px solid white;
    font-size: 1.0rem;

    &.Small {
        font-size: 1.0rem;
        margin-bottom: 7px;
        padding: 0 10px;
    }

    .Value {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: white;
    }
}