// Global Colors
@import "global/colors.scss";

// Pages
@import "pages/Dashboard";

// Partials
@import "partials/Book";

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'monospace', sans-serif;
    background-color: $bg;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


