.Legend {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    font-family: monospace, sans-serif;
    border-bottom: 1px solid white;
    font-size: 1.0rem;

    &.Small {
        font-size: 1.0rem;
        margin-bottom: 7px;
    }

    .Value {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: white;
    }
}

.Row {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    font-family: monospace, sans-serif;
    font-size: 1.0rem;
    color: white;

    &.Small {
        font-size: 0.8rem;
    }

    &.Ask {
     	color: $red;	
    }

    &.Bid {
        color: $green;
    }

    .Value {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &.Sell {
            color: $red;
        }

        &.Buy {
            color: $green;
        }
    }

    .Latest {
        background-color: darkkhaki;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        height: 20px;
        width: 60px;
        color: floralwhite;
        font-size: 0.8rem;
        font-weight: bold;
        margin-top: 0px;
        position: absolute;
        right: 0px;
    }
}

.Wrapper {
    position: relative;
    height: 100%;
    overflow: hidden;
    flex: 1;

    .Spread {
        height: 30px;
        align-items: center;
        display: flex;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        font-family: monospace, sans-serif;
        font-size: 1.0rem;
        justify-content: flex-end;
        flex: 1;

        &.NoBorder {
			border-top: 0 solid white;
	        border-bottom: 0 solid white;
        }
        

        div {
            color: white;
            display: flex;
            flex: 1;
        }
    }

    .Book {
        position: relative;
        width: 100%;
        overflow: scroll;
        height: 900px;
    }

    .TradeHistory {
        position: relative;
        height: 900px;
        overflow: scroll;
        flex: 1;
    }
}