.Page {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 100%;
    height: auto;
}

.Dashboard {
    @extend .Page;
}

.Content {
    position: relative;
    width: 96%;
    height: 100%;
    margin: 20px auto;

    .FlexSpace {
        flex: 0.1;
    }
}

.FlexRow {
    display: flex;
    flex-direction: row;
}

.Flex1 {
    flex: 1;
}